<div class="contents row">
  <p><%= @nickname %>さんの投稿一覧</p>

  <% @catch_copies.each do |catch_copy | %>
      <%= render partial: "catch_copies/catch_copy", locals: { catch_copy: catch_copy } %>
  <% end %>
    <%= paginate(@catch_copies) %>
</div>