<div id="Modal" class="modal">
    <div class="modal-wrap">
        <div class="modal-bg"></div>
        <div class="modal-box">
            <div class="inner">
                <div class="fa fa-2x fa-times modal-close"></div>
                <h2><div class="fas fa-edit"></div>新規投稿ページの使い方</h2>
                <div class="modal_explanation">
                <p>画像をクリックする事で「求人情報」欄に情報が入力されます。</p>
                <p>その情報から「応募したい！」と思うキャッチコピーを作成しましょう。</p>
                </div>
                <div class="gif" id="" style="background-image: url('/dougasetumei.gif')">
            </div>
        </div>
    </div>
</div>