<div class="container2">

  <div class="slider">

    <div class="slides">

      <!--  The last slide goes before the first one,
        because the slideshow shows the second slide on load by default. -->
      
      <div class="slides__img" id="" style="background-image: url('/photo/cafe.jpg')">
        <div class="slides__img__filter"></div>
        <div class="slide__caption">
          <h1 class="slide__caption__title">ホールスタッフ</h1>
          <h2 class="slide__caption__subtitle"></h2>
          <h3 class="slide__caption__text"></h3>
        </div>
      </div>

      <div class="slides__img" id="" style="background-image: url('/photo/cashier.jpg')">
        <div class="slides__img__filter"></div>
        <div class="slide__caption">
          <h1 class="slide__caption__title">レジ打ちスタッフ</h1>
          <h2 class="slide__caption__subtitle"></h2>
          <h3 class="slide__caption__text"></h3>
        </div>
      </div>

      <div class="slides__img" id="" style="background-image: url('/photo/driver.jpg')">
        <div class="slides__img__filter"></div>
        <div class="slide__caption">
          <h1 class="slide__caption__title">ドライバー</h1>
          <h2 class="slide__caption__subtitle"></h2>
          <h3 class="slide__caption__text"></h3>
        </div>
      </div>

      <div class="slides__img" id="" style="background-image: url('/photo/data.jpg')">
        <div class="slides__img__filter"></div>
        <div class="slide__caption">
          <h1 class="slide__caption__title">データ入力スタッフ</h1>
          <h2 class="slide__caption__subtitle"></h2>
          <h3 class="slide__caption__text"></h3>
        </div>
      </div>

      <div class="slides__img" id="" style="background-image: url('/photo/moving.jpg')">
        <div class="slides__img__filter"></div>
        <div class="slide__caption">
          <h1 class="slide__caption__title">引っ越しスタッフ</h1>
          <h2 class="slide__caption__subtitle"></h2>
          <h3 class="slide__caption__text"></h3>
        </div>
      </div>

    </div>

  </div>
  <!-- / slider -->

  <!-- #Controls -->
  <a class="control fas fa-chevron-left" id="prev"></a>
  <a class="control fas fa-chevron-right" id="next"></a>

  <!-- #Position dots -->
  <div class="dots">
    <span class="dots__single" id=""></span>
    <span class="dots__single" id=""></span>
    <span class="dots__single" id=""></span>
    <span class="dots__single" id=""></span>
    <span class="dots__single" id=""></span>
  </div>

</div>
<!-- / slideshow -->