<div id="sampleModal" class="samplemodal">
    <div class="samplemodal-wrap">
        <div class="samplemodal-bg"></div>
        <div class="samplemodal-box">
            <div class="inner">
                内容はいります
                <div class="samplemodal-close"><span>閉じる</span></div>
            </div>
        </div>
    </div>
</div>