<%= form_tag("/catch_copies/search", local: true, method: :get, class: "search-form") do %>
  <%= text_field_tag "keyword",'', {placeholder: "投稿を検索する", class: "search-input"} %>
  <%= submit_tag "検索", class: "search-btn" %>
<% end %>
<div class="contents row">
  <% @catch_copies.each do |catch_copy| %>
    <%= render partial: "catch_copy", locals: { catch_copy: catch_copy } %>
  <% end %>
</div>