html.modalset {
  overflow: hidden;
}
.modal {
  display: none;
  width: 100%;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9999;
}
.modal-wrap {
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 20px;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
  white-space: nowrap;
}
.modal-wrap::-webkit-scrollbar {
  display: none;
}
.modal-wrap:after {
  content: '';
  display: inline-block;
  vertical-align: middle;
  width: 1px;
  height: 100%;
}
.modal-bg {
  position: absolute;
  left: 0;
  top: 0;
  background: rgba(51, 51, 51, 0.8);
  width: 100%;
  height: 100%;
}
.modal-box {
  width: 100%;
  max-width: 900px;
  display: inline-block;
  vertical-align: middle;
  position: relative;
}
.modal-box .inner {
  background-color:rgba(255, 255, 255, 0.3);
  padding: 45px 20px;
  text-align: left;
  color: $white;
}
.modal-box .inner > :first-child {
  margin-top: 0;
}
.modal-close {
color: $white;
margin-left: 98%;
}