// - 非表示項目
.image_send{
  display:none;
}

.send_job{
  display:none;
}

// - 説明文

.boder{
  border-top : solid 3px rgba(0,0,0,0.3);
}

.info{
  margin-left: 218px;
  }

.explanation{
  text-align: center;
  margin-bottom:20px;
}

// - ？アイコン

.yureru-s {
  color: yellow;

	animation: yureru-s 2s infinite;
}
@keyframes yureru-s {
	0% {
		transform: translate(2px, 0px);
	}
	5% {
		transform: translate(-2px, 0px);
	}
	10% {
		transform: translate(2px, 0px);
	}
	15% {
		transform: translate(-2px, 0px);
	}
	20% {
		transform: translate(2px, 0px);
	}
	25% {
		transform: translate(-2px, 0px);
	}
	30% {
		transform: translate(0px, 0px);
	}
}

.gif{
  height: 450px;
}

.modal_explanation{
  color: $white;
  margin-bottom: 20px;
}