@import "compass";

@font-face {
    font-family: 'ほのか明朝';
    font-weight: normal;
    font-style: normal;
}

@import url(http://fonts.googleapis.com/css?family=Unica+One);

$accent: #57C3E9;
$black: #292929;
$dark: #666;
$darkGray: #999999;
$gray: #D8D8D8;
$lightGray: #f5f5f3;
$white: #FAFAFA;

//mixin

@mixin boxBase($margin: 30px auto, $padding: 10px) {
  margin: $margin;
  padding: $padding;
}
@mixin basePadding($padding: 10px) {
  padding: $padding;
}
@mixin baseMargin($margin: 10px auto) {
  margin: $margin;
}

body,html {
  height: 100%;
  background-image: url(/toukyou.jpg);
  background-repeat:no-repeat;
}

body {
  padding-top: 60px;
}

h1,h2,h3,h4,h5,h6,body {
line-height: 1.57;
  letter-spacing: 0.15em;
  color: $white;
  font-family: 'Unica One', "Avenir", "游ゴシック", "YuGothic", "ヒラギノ角ゴ Pro W6", "HIragino Kaku Gothic Pro W6", "HIragino Kaku Gothic Pro", Osaka, Meiryo, "メイリオ", "ＭＳ Ｐゴシック", "MS P Gothic", sans-serif;
  margin: 0;
}

a {
  text-decoration: none;
  color:#666;
  @extend .transition;
  &:hover {
    color: $accent;
  }
}

.bold {
  font-weight: bold;
}

.serif {
  font-family: 'ほのか明朝',serif;
}

.ultra {
  font-size: 2em !important;
}

::selection {
  background: $gray;
}

.transition {
  @include transition-property(all);
  @include transition-duration(0.2s);
  @include transition-timing-function(linear);
}

.btn {
    @include basePadding(8px 20px);
    font-size: 14px;
    border: 2px solid $accent;
    color: $accent;
    font-weight: bold;
    text-align: center;
    border-radius: 3px;
    display: inline-block;
  &:hover {
    border-color: lighten($accent, 15%);
    color: lighten($accent, 15%);
  }
}

h1,h2,h3,h4,h5,h6 {
}

.title {
  font-weight: bold;
  position: absolute;
  left: 349px;
  right: 100px;
  top: 52px;
  margin: 0;
  font-size: 24px;
  z-index: 2;
}

.title--big {
  font-size: 1.5em;
  font-weight: bold;
  i {
    font-style: italic;
    font-size: 1.8em;
  }
}


header.header {
  @include basePadding;
  background-color:rgba(255, 255, 255, 0.05);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 5;
  height: 62px;
  display: flex;
  justify-content: space-around;

  div.header__bar.row {
    position: relative;
    h1.grid-6 {
      font-size: 30px;
      line-height: 22px;
      float: left;
      a {
        @extend .btn;
        display: block;
        width: 140px;
      }
    }
    div.grid-6 {
      float: right;
      text-align: right;
      a.post {
        @extend .btn;
        display: inline-left;

      }
    }
  }
  .user_nav {
    position: relative;
    height: 100px;
    right: 0;
    span {
      top: 9px;
      display: block;
      float: left;
      margin-left: 30px;
      width: 150px;
      height: 50px;
      font-size: 1em;
      color: $white;
      cursor: pointer;
      position: relative;
      &:after {
        content: '▼';
        font-size: .7em;
        margin-left: -4px;
      }
      &:hover ul {
        color: $accent;
        display: block;
      }
    }
    ul {
      display: none;
      position: absolute;
      top: 46px;
      right: 0;
      border-left: 1px solid #d8d8d8;
      border-right: 1px solid #d8d8d8;
      box-shadow: 1px 2px 5px rgba(0,0,0,0.1);
      li {
        background-color: #f0f0f0;
        a {
          display: block;
          padding: 10px 20px;
          text-align: left;
          border-bottom: 1px solid #d8d8d8;
          
        }
      }
     }
  }
}
.form {
  background: url(https://dl.dropboxusercontent.com/u/5840617/DeathtoStock_Wired3.jpg);
  background-size: cover;
  .contents {
    position: absolute;
    left: 0;
    top: 30%;
    bottom: 0;
    right: 0;
  }
  footer {
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
  }
}
div.contents.row {
  h2 {
    @include boxBase(20px 0, 0);
    font-weight: normal;
    strong {
      font-weight: bold;
      padding-right: 5px;
      font-size: 1.2em;
    }
  }
  .new_user{
  font-family: "游ゴシック", "YuGothic";
  }
  div.content_post {
    @include boxBase(20px 0 ,30px);
    position: relative;
    height: 300px;
    width: 720px;
    color: #fff;
    background-size: cover;
    background-position: center center;
    border-radius: 3px;
    box-shadow: 0 0 10px rgba($black,0.2);
    &:after {
 
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      @include filter-gradient(#000000, #a60000, vertical);
      @include background-image(linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 62%,rgba(0,0,0,0.85) 100%));
      z-index: 1;
      border-radius: 3px;
    }

    .more {
      position: absolute;
      cursor: pointer;
      top: 20px;
      right: 30px;
      z-index: 2;
      height: 100px;
      width: 60px;
      text-align: right;
      &:hover ul.more_list {
        display: block;
      }
      ul.more_list {
        position: absolute;
        text-align: left;
        width: 80px;
        right: 0;
        font-size: 12px;
        background-color: #fff;
        border: 1px solid #ddd;
        display: none;
        box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
        border-radius: 3px;
        li {
          border-bottom: 1px solid #ddd;
          &:last-child {
            border-bottom: 0;
          }
          a {
            display: block;
            padding: 5px;
            &:hover {
              background-color: $accent;
              color: #fff;
            }
          }
        }
      }
    }
    p {
      @extend .serif;
      position: absolute;
      left: 30px;
      right: 100px;
      bottom: 30px;
      margin: 0;
      font-size: 20px;
      z-index: 2;
    }

    .image{
      @extend .serif;
      position: absolute;
      left: 30px;
      right: 100px;
      top: 40px;
      margin: 0;
      font-size: 20px;
      z-index: 2;
      width: 300px;
      height: 200px;
    }

    .job_category{
      @extend .serif;
      position: absolute;
      left: 349px;
      right: 0px;
      bottom: 137px;
      margin: 0;
      font-size: 16px;
      z-index: 2;
    }

    .job_name{
      @extend .serif;
      position: absolute;
      left: 400px;
      right: 100px;
      bottom: 137px;
      margin: 0;
      font-size: 16px;
      z-index: 2;
    }

    .target{
      @extend .serif;
      position: absolute;
      left: 349px;
      right: 100px;
      bottom: 110px;
      margin: 0;
      font-size: 16px;
      z-index: 2;
    }

    .target_name{
      @extend .serif;
      position: absolute;
      left: 460px;
      right: 100px;
      bottom: 110px;
      margin: 0;
      font-size: 16px;
      z-index: 2;
    }


    span.name {
      position: absolute;
      right: 30px;
      bottom: 30px;
      z-index: 2;
      font-size: 13px;
      a {
        display: block;
        color: $white;
        &:hover {
          text-decoration: underline;
          color: #aaa;
        }
      }
      span {
        font-size: 9px;
        display: block;
      }
    }
  }
  .success {
    @include boxBase(20px 0 ,30px);
    box-shadow: 0 0 10px rgba($black,0.2);
    background-color:rgba(255, 255, 255, 0.05);
    box-sizing: border-box;
    text-align: center;
    h3 {
      @include baseMargin;
      color: $white;
    }
  }
}
form {
  h3 {
    @include baseMargin(0 0 20px);
    text-align: center;
    font-weight: normal;
    font-size: 20px;
    color: $white;
  }
  input,textarea {
    width: 100%;
    @include boxBase(5px 0 15px,10px);
    background-color:rgba(255, 255, 255, 0.2);
    border: 1px solid $gray;
    border-radius: 5px;
    font-family: "游ゴシック", "YuGothic";

  }
  input[type="submit"] {
    @extend .transition;
    background-color: $accent;
    border-radius: 20px;
    color: #fff;
    border: 0;
    font-size: 18px;
    &:hover {
      background-color: 
      lighten($accent, 10%);
    }
  }

}
.container {
  @include boxBase(20px 0 ,30px);
  box-shadow: 0 0 10px rgba($black,0.2);
  background-color:rgba(255, 255, 255, 0.05);
  box-sizing: border-box;
}
.comments {
  padding: 5px;
  margin-top: 15px;
  a {
    color:$white;
    &:hover {
      text-decoration: underline;
    }
  }
}

footer {
  @include boxBase;
  color: $gray;
  p {
    text-align: center;
  }
}

.search-form {
  text-align: center;
  padding-top: 32px;
  .search-input {
    width: 30%;
    margin-right: 10px;
  }

  .search-btn {
    width: 10%;
  }
}

.page.current{
color: $white;
}

::placeholder{
  color:$white
}

.btn-xl {
  margin: 100px 0 0 591px;
  padding: 1.25rem 3.5rem;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 2.125rem;
  font-weight: 700;
}

.btn-primary {
  color: #fff;
  background-color: #57C3E9;
  border-color: #57C3E9;
}
.btn-primary:hover {
  color: #fff;
  background-color: #fec810;
  border-color: #fec503;
}
.btn-primary:focus, .btn-primary.focus {
  color: #fff;
  background-color: #fec810;
  border-color: #fec503;
  box-shadow: 0 0 0 0.2rem rgba(254, 216, 84, 0.5);
}
.btn-primary.disabled, .btn-primary:disabled {
  color: #fff;
  background-color: #fed136;
  border-color: #fed136;
}
.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active, .show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #fec503;
  border-color: #f3bd01;
}
.btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus, .show > .btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(254, 216, 84, 0.5);
}

.masthead-subheading {
  font-size: 1.5rem;
  font-style: italic;
  line-height: 1.5rem;
  margin-bottom: 25px;
  font-family: "Droid Serif", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  margin: 0 0 0 433px;
}

.masthead-heading {
  color: $white;
  font-size: 3.5rem;
  font-weight: 700;
  margin: 30px 500px 0 500px;
  font-family: "Droid Serif", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.fa-lg.fas.fa-heart.icon-btn{
  position: absolute;
  left: 349px;
  right: 100px;
  bottom: 90px;
  margin: 0;
  font-size: 12px;
  z-index: 2;
  color: pink;
  a{
    color: pink;
  }
}


#like{
position: absolute;
left: 347px;
right: 100px;
bottom: 60px;
margin: 0;
font-size: 16px;
z-index: 2;
color: pink;
}

.edit.h3{
  color: $white;
  background-color: #ff4646;
  text-align: center;
}

.guestbtn {
  width: 600px;
  margin-bottom: 30px;
  text-align: center;

  a{
    @extend .transition;
    width: 100%;
    margin: 5px 0 15px;
    padding: 10px;
    background-color: $accent;
    border-radius: 20px;
    color: #fff;
    border: 0;
    font-size: 18px;
    display:block;

    &:hover {
      background-color: 
      lighten($accent, 10%);
    }
  }
}

.pagination{
  color: $white;
}